:root {
    --mainbg: hsl(217, 54%, 11%);
    --white: rgb(255, 255, 255);
    --cardshadow: hsl(215, 55%, 6%);
    --lblue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%, .5);
    --boxshadow: hsl(178, 100%, 50%, .3);
    --btninset: hsl(215, 52%, 21%);
    --btncolor: hsl(216, 50%, 16%);
    --whiteopa: rgba(255, 255, 255, 0.7);
    --whiteopacity: rgba(255, 255, 255, 0.5);
    --inputbg: hsla(218, 49%, 8%, 0.452);
}
.up {
    height: 200px;
    width: 200px;
    display: block;
    position: absolute;
    right: -30px;
    bottom: -35px;
    transform: scale(0.5);
}
.aw {
    transform: rotate(180deg);
}
.contact-right {
    position: relative;
}
.navv {
    background: var(--mainbg);
    transition: 0.5s ease-in;
    box-shadow: 0 5px 15px 0 var(--cardshadow), 0 3px 10px 0 var(--btninset) inset;
}
.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.fade-in.appear {
    opacity: 1;
}
.from-left {
    transform: translatex(-50%);
}
.from-right {
    transform: translatex(50%);
}
 .from-left,
 .from-right {
    transition: opacity 1s ease-in, transform 1s;
    opacity: 0;
}
 .from-left.appear,
 .from-right.appear {
    transform: translatex(0);
    opacity: 1;
}
.contact-content {
    overflow:hidden;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "segoe ui", arial, sans-serif;
    background: var(--mainbg);
    background-image: url("images/dice-3319359_1920.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    /* box-shadow: 0 50px 100px 0 var(--cardshadow) inset; */
    color: var(--white);
}
.top {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    margin-block-end: 50px;
}
.arrows {
    width: 60px;
    height: 70px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-inline-start: -30px;
}
.arrows path {
    stroke: var(--cyan);
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {opacity: 0;}
    40% {opacity: 1;}
    80% {opacity: 0;}
    100% {opacity: 0;}
}

@-webkit-keyframes arrow {
    0% {opacity: 0;}
    40% {opacity: 1;}
    80% {opacity: 0;}
    100% {opacity: 0;}
}
.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}
.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}
.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}
.image {
    width: 100%;
    height: 75%;
    border-radius: 10px 10px 0 0;
}
.name {
    font-size: 40px;
    font-weight: 700;
    font-family: "Ravie", arial, sans-serif;
}
.folio {
    font-weight: 700;
    font-family: "Jokerman", Arial, Helvetica, sans-serif;
}

.roww {
    position: relative;
}   

.ico, .icoo, .icop {
    font-size: 25px;
    margin: 10px;
    color: var(--white);
    transition: 0.3s;
}
.contact a:hover .ico {
    color: var(--cyan);
}

.contact a {
    display: inline-block;
    transition: 0.5s;
}
.contact a:hover {
    transform: translateY(-5px);
}
.icoo:hover {
    color: var(--mainbg);
}
.contact-bttn {
    margin-block-start: 30px;
}
.first {
    color: var(--cyan);
    transition: 0.5s;
    cursor: pointer;
}
.first:hover {
    color: var(--lblue);
}
.bo {
    color: var(--mainbg);
    font-weight: 700;
}
img {
    width: 100%;
    height: 100%;
}
.main-projects > h2 {
    text-align: center;
}
.pp {
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.profile-image {
    width: 60%;
    overflow: hidden;
    margin-block-end: 10px;
    margin-block-start: 30px;
    border-radius: 20px;
    margin-inline: auto;
    box-shadow: 0 10px 20px 0 var(--cardshadow),
                0 20px 30px 0 var(--cardshadow);
}
.content {
    margin-block-start: 30px;
    margin-inline: 0;
    padding: 20px;
}
.content-text {
    text-align: center;
}
.content-text p:nth-child(4) {
    color: var(--whiteopacity);
}
.profile-image:hover .pp {
    transform: scale(1.2);
}
.project {
    position: relative;
    min-height: auto;
    width: 90%;
    min-width: 300px;
    box-shadow: 0 3px 15px 0 var(--cardshadow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}
.maill {
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    padding: 10px 15px;
}
.maill:hover {
    box-shadow: 0 5px 15px 0 var(--cardshadow), 0 3px 10px 0 var(--btninset) inset;
    color: var(--mainbg);
    border-radius: 20px;
}
.discription {
    padding: 15px;
    color: var(--lblue);
    font-weight: 500;
    text-align: center;
}
.discription a:nth-child(1)  {
    color: var(--white);
    text-decoration: none;
}
.discription a:nth-child(2) {
    color: var(--cyan);
    text-decoration: none;
}
/* Skills Section */
.skills {
    margin: 0;
    padding: 30px;
    background: var;
    text-align: center;
    cursor: pointer;
}
.edit {
    box-shadow: 0 5px 15px 0 var(--cardshadow), 0 3px 10px 0 var(--btninset) inset;
    padding: 10px;
    transition: 0.5s ease-in-out;
}
.edit:hover {
    scale: 0.9;
}
.fmp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: 30%;
    width: 100%;
    padding: 10px;
}
.linkbttn {
    color: var(--lblue);
    font-weight: 500;
    text-decoration: none;
    background: var(--mainbg);
    box-shadow: 0 5px 15px 0 var(--cardshadow), 0 3px 10px 0 var(--btninset) inset;
    padding: 10px 20px;
    border-radius: 30px;
    transition: 0.5s;
}
.edit1 {color: var(--cyan); font-weight: 700;}
.edit2 {color: var(--whiteopacity);}
.edit3 {background-color: var(--cyan); box-shadow: 0 5px 15px var(--boxshadow);}
.edit5 {background-color: var(--cyan); box-shadow: 0 5px 15px var(--boxshadow);}
.edit7 {background-color: var(--cyan); box-shadow: 0 5px 15px var(--boxshadow);}
.edit9 {color: var(--whiteopacity);}
.edit11 {background-color: var(--cyan); box-shadow: 0 5px 15px var(--boxshadow);}
.edit13 {background-color: var(--cyan); box-shadow: 0 5px 15px var(--boxshadow);}
.linkbttn:hover {
    color: var(--white);
}
.contact-left {
    margin-inline-start: 35px;
}
.cvbtn {
    color: var(--white);
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
    box-shadow: 0 5px 15px 0 var(--cardshadow), 0 3px 10px 0 var(--btninset) inset;
}
.cvbtn:hover {
    color: var(--mainbg);
    background-color: var(--cyan);
    box-shadow: 0 3px 10px 0 var(--cyan);
}
.submitbtn {
    border: none;
    padding: 10px 30px;
    margin-inline-start: 15px;
    background: transparent;
    margin-block-end: 30px;
}
.icop {
    color: var(--cyan);
}
.social-icons a {
    display: inline-block;
    color: var(--cyan);
    transition: 0.5s;
}
.social-icons a:hover .icop {
    color: var(--white);
    transition: 0.5s;
}
.social-icons a:hover {
    transform: translatey(-5px);
}

.contact-right form {
    width: 90%;
    margin-inline-start: 8px;
    margin-block-start: 30px;
}


.design {
    color: var(--lblue);
    transition: 0.5s;
    cursor: pointer;
}
.design:hover  {
    color: var(--cyan);
}
.big {
    font-size: 1.57em;
    font-weight: 700;
    font-family: "jokerman", Arial, Helvetica, sans-serif;
}
form input, form textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 15px;
    margin: 15px;
    font-size: 18px;
    border-radius: 10px;
    background: transparent;
    color: var(--lblue);
    font-weight: 500;
    resize: none;
    transition: 0.5s;
    box-shadow: 0 5px 15px 0 var(--cardshadow), 0 3px 10px 0 var(--btninset) inset;;
}

form input:focus {
    background: var(--inputbg);
    transform: translatey(-10px);
    box-shadow: 0 30px 80px 0 var(--cardshadow), 0 20px 50px 0 var(--btninset) inset;
}
form textarea:focus {
    background: var(--inputbg);
    transform: translateY(-10px);
    box-shadow: 0 30px 80px 0 var(--cardshadow), 0 20px 50px 0 var(--btninset) inset;
}
#msg {
    color: #61b752;
    margin-inline-start: 35px;
    margin-block-start: -20px;
    display: block;
}
footer {
    background: var(--cyan);
    text-align: center;
    padding: 20px;
    box-shadow: 0 20px 35px 0 var(--mainbg) inset,
                0 5px 10px 0 hsl(194, 100%, 65%) inset,
                0 10px 15px 0 hsl(194, 59%, 15%) inset,
                0px -150px 50px 0 hsl(194, 55%, 20%) inset,
                0px 100px 20px 0 rgb(38, 146, 165) inset;
}

@media screen and (min-width: 700px) {
    .fmp {
        display: grid;
        grid-template-columns: auto auto;
        padding: 20px;
    }    
    .project {
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 100%;
    }
    .up {
        right: -20px;
        bottom: -35px;
    }
    .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 5px 15px 0 var(--cardshadow), 0 3px 10px 0 var(--btninset) inset; 
        gap: 80px;
    }
    .content-text {
        text-align: left;
    }
    .skills-list {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
    }
    .edit1 {grid-column: 1 / 3;}
    .edit2 {grid-column: 1 / 2;}
    .edit3 {grid-column: 1 / 2;}
    .edit4 {grid-column: 1 / 2;}
    .edit5 {grid-column: 1 / 2;}
    .edit6 {grid-column: 1 / 2;}
    .edit7 {grid-column: 1 / 2;}
    .edit8 {grid-column: 1 / 2;}
    .edit9 {grid-area: 2 / 2 / 3 / 2;}
    .edit10 {grid-area: 3 / 2 / 3 /3;}
    .edit11 {grid-area: 4 / 2 / 5 /3;}
    .edit12 {grid-area: 5 / 2 / 6 /3;}
    .edit13 {grid-area: 6 / 2 / 7 /3;}
    .edit14 {grid-area: 7 / 2 / 8 /3;}

    .content-text {
        flex: 70%;
    }
    .navbar-nav a {
        position: relative;
        margin: 20px;
    }
    .navbar-nav a::after {
        content: "";
        width: 0;
        height: 3px;
        background: var(--cyan);
        position: absolute;
        left: 50%;
        bottom: -1px;
        transition: 0.5s;
    }
    .navbar-nav a:hover::after {
        width: 100%;
        left: 0;
    }

    .profile-image {
        flex: 30%
    }
    .image {
        overflow: hidden;
        border-radius: 0;
    }
    .text {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 10px;
    }
}
@media screen and (min-width: 1000px) {
    .fmp {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .up {
        bottom: -50px;
    }

    .text::after {
        content: "";
        position: absolute;
        inset: 0;
        top: 0;
        height: 100%;
        background-image: linear-gradient(to top, var(--cyan), purple);
        border-radius: 10px 10px 0 0;
        opacity: 0;   
        transition: 0.5s ease-in-out;
    }
    .project {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        height: 280px;
        transition: 0.5s ease-in-out;
    }
    .image {
        border-radius: 10px 10px 0 0;
    }
    img {
        height: 100%;
        max-height: 100%;
        border-radius: 10px 10px 0 0;
        transition: 0.5s;
    }
    .discription {
        height: 25%;
    }
    .project:hover .text::after {
        opacity: 1;
    }
    .project:hover {
        transform: translatey(-20px);
        cursor: pointer;
    }
    .project:hover .linkbttn {
        opacity: 1;
    }
    .project:hover img {
        transform: scale(2);
    }
    
    .text {
        position: relative;
        border-radius: 10px 10px 0 0;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 75%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .profile-image {
        margin-block-start: 15px;
        box-shadow: 0 15px 30px 0 var(--cardshadow) ;
    }
    .pp {
        width: 230px;
        border-radius: 0 0 0 0;
        box-shadow: 0 10px 20px 0 var(--cardshadow),
        0 20px 30px 0 var(--cardshadow);;
    }
    .content {
        height: 440px;
    }
    .content-text {
        margin-inline: 30px;
    }
    .linkbttn {
        opacity: 0;
        transition: 0.5s;
        background: var(--btncolor);
        color: var(--whiteopa);
        box-shadow: 0 0 0 0;
        z-index: 1;
    }
    .tn {
        opacity: 1;
    }
    .linkbttn:hover {
        background: var(--mainbg);
        box-shadow: 0 5px 15px 0 var(--cardshadow), 0 3px 10px 0 var(--btninset) inset;
    }
    .contact-left {
        margin-inline-start: 50px;
        padding: 40px 0;
        flex: 35%;
    }
    .roww {
        display: flex;
        flex-direction: row;
        height: 550px;
        align-items: center;
        margin-block-start: -50px;
    }
    .contact-right {
        flex: 60%;
    }
    .contact-right form {
        width: 90%;
    }
}
@media screen and (min-width: 2000px) {
    .fmp {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
}