.light {
    --mainbg: rgb(255, 255, 255);
    --white2: hsl(217, 54%, 11%);
    --white: rgb(255, 255, 255);
    --cardshadow: rgba(128, 128, 128, 0.384);
    --lblue: hsl(217, 54%, 11%);
    --cyan: hsl(217, 54%, 11%);
    --cyan2: hsl(263, 55%, 52%); 
    --boxshadow: hsla(216, 54%, 11%, 0.459);
    --btninset: rgba(128, 128, 128, 0.432);
    --btncolor: hsl(216, 50%, 16%);
    --whiteopa: rgba(255, 255, 255, 0.7);
    --whiteopacity: hsla(216, 54%, 11%, 0.801);
    --inputbg: hsla(218, 49%, 8%, 0.452);
    --footernav: rgb(255, 255, 255);
    --navshadow: hsla(215, 55%, 6%, 0.466);
    --navfootershadow2: rgba(128, 128, 128, 0.568);
    --background-image: url('Images/2084267.jpg');
    --size: cover;
    --topB: transparent;
    transition: color 0.5s, background-color 0.5s, box-shadow 0.5s;
}
.dark {
    --mainbg: hsl(217, 54%, 11%);
    --white2: rgb(255, 255, 255);
    --white: rgb(255, 255, 255);
    --cardshadow: hsl(215, 55%, 6%);
    --lblue: hsl(215, 51%, 70%);
    --cyan: rgb(42, 143, 139);
    --cyan2: rgb(42, 143, 139);
    --boxshadow: hsl(178, 100%, 50%, .3);
    --btninset: hsl(215, 52%, 21%);
    --btncolor: hsl(216, 50%, 16%);
    --whiteopa: rgba(255, 255, 255, 0.7);
    --whiteopacity: rgba(255, 255, 255, 0.5);
    --inputbg: hsla(218, 49%, 8%, 0.452);
    --footernav: hsl(217, 54%, 11%);
    --navshadow: hsl(215, 55%, 6%);
    --navfootershadow2: hsl(215, 52%, 21%);
    --size: contain;
    --topB: rgba(0, 0, 0, 0.4);
    --background-image: url('Images/dice-3319359_1920.jpg');
    transition: color 0.5s, background-color 0.5s, box-shadow 0.5s;
}
.up {
    height: 200px;
    width: 200px;
    display: block;
    position: absolute;
    right: -30px;
    bottom: -35px;
    transform: scale(0.5);
}
.contact-right {
    position: relative;
}
nav, .navv {
    padding: 0;
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
}
.navv {
    background: var(--footernav);
    box-shadow: 0 5px 15px 0 var(--navshadow), 0 3px 10px 0 var(--navfootershadow2) inset;
}
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in, transform 2s ease-out;
    transform: translatey(100px);
}
.fade-in.appear {
    transition: opacity 1s ease-in, transform 2s ease-out;
    transform: translatey(0);
    opacity: 1;
}
.from-left {
    transform: translatex(-50%);
}
.from-right {
    transform: translatex(50%);
}
 .from-left,
 .from-right {
    transition: opacity 0.5s ease-in, transform 1s ease-out;
    opacity: 0;
}
.from-left.appear,
.from-right.appear {
    transition: opacity 0.5s ease-in, transform 1s ease-out;
    transform: translatex(0);
    opacity: 1;
}
[alt="logo"] {
    height: 100px;
    width: 100px
}
.nav-link {
    font-weight: 500;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", arial, sans-serif;
    background: var(--mainbg);
    color: var(--white2);
}
*::selection {
    background: var(--cardshadow);
    color: var(--cyan2)
}
.top {
    padding: 0 30px;
    display: flex;
    top: 0;
    flex-direction: column;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    justify-content: center;
    height: 100vh;
    height: 100dvh;
    position: relative;
    margin-block-end: 50px;
    transition: background-color 0.5s;
}
.top::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--topB);
    z-index: 0;
}
.top-content {
    text-align: center;
    z-index: 2;
}
.top-content > p:nth-child(3) {
    margin-block-start: 25px;
    margin-block-end: 40px;
}
.arrows {
    width: 60px;
    height: 70px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-inline-start: -30px;
    transform: scale(0.6);
}
.arrows path {
    stroke: var(--cyan2);
    fill: transparent;
    stroke-width: 1px;
    -webkit-animation: arrow 2s infinite;
    animation: arrow 2s infinite;
}
.aw {
    transform: rotate(180deg);
}

@keyframes arrow {
    0% {opacity: 0;}
    40% {opacity: 1;}
    80% {opacity: 0;}
    100% {opacity: 0;}
}

@-webkit-keyframes arrow {
    0% {opacity: 0;}
    40% {opacity: 1;}
    80% {opacity: 0;}
    100% {opacity: 0;}
}
.arrows path.a1 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.arrows path.a2 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.arrows path.a3 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.image {
    width: 100%;
    height: 75%;
}
.image img {
    object-fit: cover;
}
.name {
    font-size: 40px;
    font-weight: 700;
}
.folio {
    font-weight: 700;
    color: var(--cyan2);
    transition: color 0.5s;
    cursor: pointer;
}

.roww {
    position: relative;
    width:  90%;
    margin-block-end: 50px;
    margin-inline: auto;
}   
.contact-content {
    overflow: hidden;
}

.ico, .icoo, .icop {
    font-size: 25px;
    margin: 10px;
    color: var(--white2);
    transition: 0.2s;
}
.contact a:hover .ico {
    color: var(--cyan2);
}
.icoo {
    color: var(--white2);
}
.contact a {
    display: inline-block;
    transition: 0.5s;
}
.contact a:hover {
    transform: translateY(-5px);
}
.icoo:hover {
    color: var(--cyan2);
}
.contact-bttn {
    margin-block-start: 30px;
}
.first {
    color: var(--cyan2);
    transition: color 0.5s;
    cursor: pointer;
}
.first:hover {
    color: var(--lblue);
}
img {
    width: 100%;
    height: 100%;
}

.main-projects > h2 {
    text-align: center;
}
.profile-image {
    width: 50%;
    height: auto;
    margin-block-end: 10px;
    margin-block-start: 30px;
    overflow: hidden;
    cursor: pointer;
    margin-inline: auto;
    transition: 0.5s;
    box-shadow: 0 10px 20px 0 var(--cardshadow);
}
.content {
    margin-block-start: 30px;
    margin-inline: 0;
    padding: 20px;
}
.content-text {
    text-align: center;
}
.content-text p:nth-child(4) {
    color: var(--whiteopacity);
    
}
.pp {
    transition: 0.5s;
}
.profile-image:hover .pp {
    transform: scale(1.15);
}
.project {
    position: relative;
    width: 90%;
    min-width: 300px;
    box-shadow: 0 3px 15px 0 var(--cardshadow);
    border-radius: 10px;
    margin-inline: auto;
    margin-block-end: 20px;
}
.maill {
    text-decoration: none;
    color: var(--white2);
    font-weight: 500;
}
.maill:hover {
    box-shadow: 0 5px 15px 0 var(--cardshadow), 0 3px 10px 0 var(--btninset) inset;
    color: var(--cyan2)
}
.discription {
    padding: 15px;
    color: var(--lblue);
    font-weight: 500;
    text-align: center;
}
.discription a:nth-child(1)  {
    color: var(--white2);
    text-decoration: none;
}
.discription a:nth-child(2):hover, .discription a:nth-child(1):hover {
    box-shadow: 0 5px 15px 0 var(--cardshadow), 0 3px 10px 0 var(--btninset) inset;
}
.discription a:nth-child(2) {
    color: var(--cyan2);
    text-decoration: none;
}
.skills {
    margin: 0;
    padding: 30px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    scroll-margin: -130px;
}
.edit {
    box-shadow: 0 5px 15px 0 var(--cardshadow), 0 3px 10px 0 var(--btninset) inset;
    padding: 10px;
    transition: 0.5s ease-in-out;
}
.edit:hover {
    transform: scale(0.9);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: 30%;
    width: 100%;
    padding: 10px;
}
.linkbttn {
    color: var(--lblue);
    font-weight: 500;
    text-decoration: none;
    background: var(--mainbg);
    box-shadow: 0 5px 15px 0 var(--cardshadow), 0 3px 10px 0 var(--btninset) inset;
    padding: 10px 20px;
    border-radius: 30px;
    transition: 0.5s;
}
.edit1 {color: var(--cyan); font-weight: 700;}
.edit2 {background-color: var(--cyan); box-shadow: 0 5px 15px var(--boxshadow); color: var(--white);}
.linkbttn:hover {
    color: var(--white2);
}

.cvbtn {
    color: var(--white2);
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
    -webkit-user-select: none;
    user-select: none;
    box-shadow: 0 5px 15px 0 var(--cardshadow), 0 3px 10px 0 var(--btninset) inset;
}
.cvbtn:hover {
    color: var(--mainbg);
    background-color: var(--cyan);
    box-shadow: 0 3px 10px 0 var(--cyan), 0 3px 10px 0 var(--btninset) inset;
}
.submitbtn {
    border: none;
    padding: 10px 30px;
    background: transparent;
    margin-block-end: 30px;
    -webkit-user-select: none;
    user-select: none;
}
.icop {
    color: var(--cyan2);
}
.contain {
    object-fit: cover;
    height: 300px;
    object-position: top;
}
.social-icons a {
    display: inline-block;
    transition: 0.5s;
}
.social-icons a:hover .icop {
    color: var(--white2);
    transition: 0.5s;
}
.social-icons a:hover {
    transform: translatey(-5px);
}

.contact-right form {
    width: 100%;
    margin-block-start: 30px;
}


.design {
    color: var(--lblue);
    transition: color 0.5s;
    cursor: pointer;
}
.design:hover  {
    color: var(--cyan);
}
.big {
    font-size: 2em;
    font-weight: 700;
    font-family: "Dancing Script", cursive;
}

form input, form textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 10px;
    background: var(--mainbg);
    color: var(--lblue);
    font-weight: 500;
    resize: none;
    transition: 0.5s;
    box-shadow: 0 5px 15px 0 var(--cardshadow), 0 3px 10px 0 var(--btninset) inset;
}

form input:focus {
    background: var(--mainbg);
    transform: translatey(-10px);
    box-shadow: 0 30px 80px 0 var(--cardshadow), 0 10px 20px 0 var(--btninset) inset;
    z-index: 4;
}
form textarea:focus {
    background: var(--mainbg);
    transform: translateY(-10px);
    box-shadow: 0 30px 80px 0 var(--cardshadow), 0 20px 50px 0 var(--btninset) inset;
}
#msg {
    color: #61b752;
    margin-inline-start: 35px;
    margin-block-start: -20px;
    display: block;
}

footer {
    background: var(--footernav);
    text-align: center;
    box-shadow: 0 5px 15px 0 var(--cardshadow), 0 3px 10px 0 var(--navfootershadow2) inset;
    padding: 20px;    
    color: var(--white2);
}

.theme-changer {
    content: "";
    position: fixed;
    overflow: hidden;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cyan);
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--cyan); 
    box-shadow: 0 0 15px var(--boxshadow); 
    color: var(--white);
}

@media screen and (min-width: 700px) {
    .fmp {
        display: grid;
        grid-template-columns: auto auto;
        padding: 20px;
        column-gap: 20px;
        row-gap: 10px;
    }    
    .project {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main-projects {
        margin-block-end: 100px;
    }
    .up {
        right: -20px;
        bottom: -35px;
    }
    .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 5px 15px 0 var(--cardshadow), 0 3px 10px 0 var(--btninset) inset; 
        gap: 80px;
    }
    .content-text {
        text-align: left;
    }
    .skills-list {
        display: grid;
        grid-template-columns: 49% 49%;
        gap: max(20px, 2%);
        margin-block-start: 100px;
        margin-block-end: 50px;
    }
    .edit1 {grid-column: 1 / 3;}
    .content-text {
        flex: 70%;
    }
    .profile-image {
        flex: 30%
    }
    .image {
        overflow: hidden;
    }
    .text {
        justify-content: center;
    }
}
@media screen and (min-width: 1000px) {
    .fmp {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .active {
        box-shadow: 0 5px 15px 0 var(--cardshadow), 0 3px 10px 0 var(--btninset) inset; 
        transition: background-color 0.5s;
    }
    .active:hover {
        background: var(--cyan2);

    }
    .skills {
        width: 80%;
        margin-inline: auto;
    }
    .top-content {
        width: 50%;
        margin-inline: auto;
    }
    .up {
        bottom: -50px;
    }
    .project {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        height: 280px;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    .image {
        border-radius: 10px 10px 0 0;
    }
    img {
        height: 100%;
        max-height: 100%;
        border-radius: 10px 10px 0 0;
        transition: 0.5s;
    }
    .discription {
        height: 25%;
    }
 
    .project:hover {
        transform: translatey(-20px);
        box-shadow: 0 25px 80px 0 var(--cardshadow), 0 -25px 80px 0 var(--cardshadow), 0 10px 20px 0 var(--btninset) inset;
        cursor: pointer;
    }

    .project:hover .linkbttn {
        opacity: 1;
    }
    .project:hover img {
        transform: scale(1.5);
    }
    
    .text {
        position: relative;
        border-radius: 10px 10px 0 0;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 75%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .profile-image {
        flex: 10;
        box-shadow: 0 0 0 0;
        border-radius: 0;
    }
    .pp {
        object-fit: contain;
        height: 400px;
        filter: drop-shadow(0 0 20px var(--cardshadow));
    }

    .content-text {
        margin-inline-start: 200px;
        padding: 20px;
        flex: 10;
        min-width: 400px;
    }
    .linkbttn {
        opacity: 0;
        transition: color 0.5s, box-shadow 0.5s, background-color 0.5s;
        background: var(--btncolor);
        color: var(--whiteopa);
        box-shadow: 0 3px 10px 0 var(--cyan) inset;
        z-index: 1;
    }
    .tn {
        opacity: 1;
    }
    .linkbttn:hover {
        box-shadow: 0 3px 10px 0 var(--cardshadow), 0 3px 10px 0 var(--btninset) inset;
        color: var(--white);
    }

    .navbar-nav a {
        position: relative;
        margin: 20px;
    }
    .navbar-nav a::after {
        content: "";
        width: 0;
        height: 3px;
        background: var(--cyan2);
        position: absolute;
        left: 50%;
        bottom: -1px;
        transition: 0.5s;
    }
    .navbar-nav a:hover::after {
        width: 100%;
        left: 0;
    }
    .roww {
        display: flex;
        flex-direction: row; 
        justify-content: center;  
        gap: 30px;
        width: 75%;
    }
    .contact-right form {
        margin: 0;
        width: 100%;
    }
    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .contact-left {
        width: 450px;
    }
}
@media screen and (min-width: 2000px) {
    .fmp {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
}
